asgiref==3.8.1
beautifulsoup4==4.13.4
bootstrap4==0.1.0
django==3.2.20
whitenoise>=6.9
django-bootstrap4==2.0.1
django-filter==2.3.0
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
pytz==2025.2
setuptools==79.0.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
wheel==0.45.1

